rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() { return request.auth != null; }
    function hasRole(r) { return signedIn() && request.auth.token.role == r; }
    function isAdmin()  { return hasRole('admin'); }
    function isMgr()    { return hasRole('manager') || isAdmin(); }
    function isLearner(){ return hasRole('learner'); }
    function isOwner(uid){ return signedIn() && request.auth.uid == uid; }

    match /users/{uid} {
      allow read: if isOwner(uid) || isMgr();
      allow create: if signedIn() && isOwner(request.resource.data.uid);
      allow update: if isOwner(uid) || isAdmin();
    }

    match /courses/{courseId} {
      allow read: if signedIn();
      allow create, update, delete: if isMgr();
      match /modules/{moduleId} {
        allow read: if signedIn();
        allow write: if isMgr();
      }
    }

    match /exams/{examId} {
      allow read: if signedIn();
      allow write: if isMgr();
      match /questions/{qId} {
        allow read: if signedIn();
        allow write: if isMgr();
      }
    }

    match /assignments/{id} {
      allow read: if signedIn();
      allow write: if isMgr();
    }

    match /enrollments/{enrollId} {
      allow read, write:
        if (resource.data.uid != null && isOwner(resource.data.uid)) ||
           (request.resource.data.uid != null && isOwner(request.resource.data.uid)) ||
           isMgr();
    }

    match /attempts/{attemptId} {
      allow create: if signedIn() && request.resource.data.uid == request.auth.uid;
      allow read:   if isOwner(resource.data.uid) || isMgr();
      allow update, delete: if isOwner(resource.data.uid) || isAdmin();
    }

    match /certificates/{certId} {
      allow read: if signedIn();
      allow create: if isOwner(request.resource.data.uid) || isMgr();
      allow delete: if isAdmin();
    }
  }
}
